body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], select, button {
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#copyButton {
    background-color: #007bff; /* زر النسخ بلون مختلف */
    margin: 20px auto;
    display: block;
    width: 50%;
    max-width: 200px;
}

#copyButton:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
